
<mat-card [@resize]="boxSizing">
  <mat-card-header>
    <mat-card-title *ngIf="!question">Select Language:</mat-card-title>
    <mat-card-title *ngIf="question && !endGame">Score {{score}}:</mat-card-title>
    <mat-card-subtitle *ngIf="endGame">
      Your final score is: {{score}}!
    </mat-card-subtitle>
    
  </mat-card-header>
  <mat-card-content *ngIf="!question">
    <div class="languages_container">
      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle [disabled]="isLoading" *ngFor="let lang of optionLanguages;" value="{{lang.value}}">
          <img class="iconLanguage" src="{{lang.imageSrc}}" alt="Icone da linguagem de programação {{lang.label}}">
          <div>{{lang.label}}</div>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <button mat-raised-button color="primary" [disabled]="isLoading" (click)="getQuestion(group.value)">START
      QUIZ!</button>
  </mat-card-content>

  <app-question [@fadeInOut] [question]="question" (nextQuestion)="nextQuestion($event)" *ngIf="question && !endGame"></app-question>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  </mat-card-footer>
</mat-card>